<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}EAT TIME!{{else}}YOU ATE ALL THAT?!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">Delete Burger</button>
</li>